.advantages__list {
    display: flex;
    justify-content: space-between;
    margin: 94px auto;
}
.feature {
    color: #757575;
    &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: #f5f4fa;
    }

    &__title {
    font-weight: 700;
    color: #212121;
    margin-bottom: 10px;
    }
    &:not(:last-child) {
    margin-right: 30px;
    }
}